@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    background: #d6d4dd;
    color: #262527;
    font: normal 16.5px 'Roboto Mono', monospace;
    letter-spacing: 1px;
    word-spacing: -1px;
    line-height: 25px; 
}
header{
    background-color: #A884BF;
}
.socialNetwork{ 
    background-color: #D690BA; 
}
header p{
    font-style: italic;
}
header p span{
    font-weight: bold;
}
.socialNetwork{
    padding-bottom: 15px;
}
.socialNetwork a{
    text-decoration: none;
}
.card{
    
    border-radius: 10px;
    margin: 10px;
    padding-left: 20px;
}
.card, img{
    border:2px solid #000;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}
.hobby{
    
    background-color: #DAF3A3;
    
}
.work{
    background-color: #FFFEAB;
    padding-bottom: 15px;
}
.work table td{
    padding: 5px;
    
    
}
    
.contackt{
   
    background-color: #A884BF;
    padding-bottom: 15px;

    
}
.contackt div{
    padding-bottom: 10px;
}
.img a img{
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    border-top-left-radius: 2%;
    border-bottom-right-radius: 2%;
}
.container{
    
    max-width: 800px;
    margin: auto;
}
.name input{
    margin-left: 10px;
}
.topic input{
    margin-left: 53px;
}
h1,h3{
    text-shadow:4px 4px 14px rgba(0, 0, 0, 0.25);
}
