@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/*main*/
body{
    background-color: #eee;
}
.conteiner{
    display:flex;
    max-width: 920px;
    margin: 50px auto;
    font-family: 'Arvo', serif;
    font-size: 16px;
    
}
/* Секция 1 */
/* Класс для работы с фото */

.avatar{
    width: 200px;
    height:200px;
    border-top-left-radius: 25px;
    border-bottom-right-radius:25px;
    border-top-right-radius: 15px;
    border-bottom-left-radius:15px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.3);
}
.basic{
    width:600px;
}
.info{
    margin-left: 30px;
}
.location img, .heading img{
    width:30px;
}
.location {
    display: block;
    color: #666
}

.header{
    display: flex;
}
.personal{
    margin-top: 20px;
}
.info-1{
    border-left: 1px solid #777;
    padding-left:35px;
    margin-left: 13px;
}

/* Cелектор для работы со тегом Span */
.info-1 p span{
    color: #888;
    font-weight: bold;
}

.heading p{
    margin-left: 10px;
    display: inline;
    font-size: 1.17em;
    font-weight: bold;
    
}
/* Cписки */
.info-1 ul :last-child{
    color: #888;
}
.info-1 ul :first-child{
    font-weight: bold;
}
/* Селектор для работы с 'элементами списка' списками */
.info-1 ul li, .info-1 ol li{
    margin-bottom: 5px;
}
/* Селектор для работы со списками */
.info-1 ul, .info-1 ol{
    list-style: none;
    padding: 0;
}
/* Селектор для работы с блоками */
.card-light-theme{
    background-color: white;
    border:none;
    border-radius:15px;
    margin:20px;
    padding: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.3);

}
/* Секция 2 */
.additional{
    width:330px;
}
#email{
    color: rgb(89, 89, 247);
}
.info-1 a img{
    margin: 5px;
    width: 45px;
    filter: grayscale(100%);
}
.info-1 a img:hover{
    filter: grayscale(0%);
    transition: all 2s;
}
.additional h3{
    margin-top: 5px;
}

